
<html>
<head>
</head>
<body>
	
<header>
	<h1>IRONHACK BLOG</h1>
</header>

<h2>
	<%= @posts[@index].title %>     
</h2>

<p>
	<%= @posts[@index].text %> 
</p>

<p>Posted on:   <%= @posts[@index].date %>  by: <%= @posts[@index].author %> </p>
<p>
	Category: <%= @posts[@index].category %>
</p>

</body>
</html>